<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Products</title>
</head>
<body>
<h2> Available Products </h2>
<table class="products" width="100%" border="1" >
    <thead>
    <tr>
        <th>Name</th>
        <th>Ref</th>
        <th>SKU</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Price</th>
        <th>Available Count</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.warehouseRef}"></td>
        <td th:text="${product.sku}"></td>
        <td th:text="${#dates.format(product.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${#dates.format(product.updatedAt, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.availableItemCount}"></td>
        <td th:text="${product.description}"></td>
        <td th:switch="${product.availableItemCount > 0}">
            <div th:case="true">
                <form th:action="${@environment.getProperty('eco.services.urls.orders')}"
                      method="post" target="_blank" style="display:inline">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <input type="hidden" name="count" value="1"/>
                    <button type="submit">Заказать</button>
                </form>
                <form th:action="${@environment.getProperty('eco.services.urls.orders')}"
                      method="post" target="_blank" style="display:inline">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <input type="hidden" name="count" value="3"/>
                    <button type="submit">Заказать 3 Itema</button>
                </form>
                <form th:action="${@environment.getProperty('eco.services.urls.orders')}"
                      method="post" target="_blank" style="display:inline">
                    <input type="hidden" name="productId" th:value="${product.id}"/>
                    <input type="hidden" name="count" value="5"/>
                    <button type="submit">Заказать 5 Itemov</button>
                </form>
            </div>
            <div th:case="false">
                <span style="color:red">absent in warehouse</span>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</body>
</html>