server:
  port: 8060
spring:
  config:
    import: "classpath:ecosystem-urls.yml"
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5429}/orders
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    proxy:
      enable-logging: true
      query:
        enable: true
  flyway:
    enabled: true
    validate-on-migrate: true
    baseline-on-migrate: true
    locations: classpath:flyway
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        use_sql_comments: true
management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "prometheus, health, metrics"
  otlp:
    tracing:
      endpoint: ${ALLOY_TRACES_SEND_URL:http://localhost:4319/v1/traces}
      transport: grpc
    metrics:
      export:
        enabled: true
        url: ${ALLOY_METRICS_SEND_URL:http://localhost:4320/v1/metrics}
logging:
  pattern:
    level: "%5p [traceId=%X{traceId}, spanId=%X{spanId}]"
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    io.micrometer.tracing: INFO
    io.opentelemetry: WARN
    io.opentelemetry.exporter: WARN