server:
  port: 8080
spring:
  config:
    import: "classpath:resilience4j.yml, classpath:ecosystem-urls.yml"
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5430}/products
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    proxy:
      enable-logging: true
      query:
        enable: true
  jpa:
    open-in-view: false
  flyway:
    enabled: true
    validate-on-migrate: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false
    mode: HTML
    encoding: UTF-8
  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 6000
            readTimeout: 6000
            loggerLevel: full
            micrometer.enabled: true
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: false
management:
  metrics:
    export:
      prometheus:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "health,prometheus"
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: ${ALLOY_TRACES_SEND_URL:http://localhost:4319/v1/traces}
      transport: grpc
    metrics:
      export:
        enabled: true
        url: ${ALLOY_METRICS_SEND_URL:http://localhost:4320/v1/metrics}

logging:
  level:
    io.opentelemetry: DEBUG
    io.micrometer.observation.jdbc: DEBUG
    io.opentelemetry.exporter: DEBUG
    io.micrometer.tracing: DEBUG
