server:
  port: 2180
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5430}/products
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    validate-on-migrate: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  cloud:
    openfeign:
      client:
        config:
          warehouse-service:
            url: "http://localhost:2222/api/v1/warehouse/availability"
          default:
            connectTimeout: 5000
            readTimeout: 5000
            loggerLevel: full
            micrometer.enabled: false
      circuitbreaker:
        enabled: true
        alphanumeric-ids:
          enabled: true
management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"
  endpoint:
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
