global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: alloy
    static_configs:
      - targets: ["alloy:12345"]

  - job_name: loki
    static_configs:
      - targets: ["loki:3100"]

  - job_name: tempo
    static_configs:
      - targets: ["tempo:3200"]

  - job_name: product-service
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['product-service:2180']
        labels:
          service: 'product'

  - job_name: products-postgres
    static_configs:
      - targets: ['products-postgres-exporter:9187']
        labels:
          database: 'products'
          release: 'V1.0.0'
          namespace: 'products-db'

  - job_name: sql-products-db-metrics-exporter
    metrics_path: '/metrics'
    static_configs:
      - targets: ['sql-products-db-metrics-exporter:9399']

  - job_name: warehouse-service
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['warehouse-service:2222']
        labels:
          service: 'warehouse'

  - job_name: warehouse-mongo
    static_configs:
      - targets: ['warehouse-mongo-exporter:9216']
        labels:
          database: 'warehouse'
          release: 'V1.0.0'
          namespace: 'warehouse-db'



  #  - job_name: postgres-clients
  #    static_configs:
  #      - targets: ['clients-postgres-exporter:9187']
  #        labels:
  #          database: 'clients'
  #          release: 'V1.0.0'
  #          namespace: 'clients-db'